<?xml version="1.0" encoding="UTF-8"?>
<!--
  Rutas usadas por data-integration.
  NOTA: TODAS LAS RUTAS DEBEN TERMINAR CON LA CONTRABARRA (\) !!!
-->
<folder_paths>
    <!-- Ruta del directorio de configuracion -->
    <config_path>{{ .Folders.Config }}{{ .Separator }}</config_path>
    <!-- Ruta del directorio donde se almacenan los ficheros subidos -->
    <data_path>{{ .Folders.Upload }}{{ .Separator }}</data_path>
    <!-- Ruta del directorio con las transformaciones -->
    <xform_path>{{ .Folders.Xform }}{{ .Separator }}</xform_path>
    <!-- Ruta del directorio con los trabajos -->
    <job_path>{{ .Folders.Job }}{{ .Separator }}</job_path>
    <!-- Ruta del directorio temporal -->
    <temp_path>{{ .Folders.Temp }}{{ .Separator }}</temp_path>
    <!-- Ruta del directorio de backups -->
    <backup_path>{{ .Folders.Backup }}{{ .Separator }}</backup_path>
</folder_paths>