---
# Update.yaml: Configuracion de las actualizaciones automaticas

version:         {{ .Version }}

# Ruta a las carpetas para actualizaciones automáticas
updateFolder:    "{{ js .Folders.Update }}"
certsFolder:     "{{ js .Folders.Current }}"
javaFolder:      "{{ js .Folders.Java }}"
etlFolder:       "{{ js .Folders.ETL }}"
jobFolder:       "{{ js .Folders.Job }}"
xformFolder:     "{{ js .Folders.Xform }}"

# Reglas de actualizacion a aplicar a cada fichero zip:
updateRules:
  jobs.zip:
    jobs/jobs:       "{{ js .Folders.Job }}"
    jobs/xforms:     "{{ js .Folders.Xform }}"
  service.zip:
    service/current: "{{ js .Folders.Update }}"
  java.zip:
    java8:           "{{ js .Folders.Java }}"
  pentaho.zip:
    pentaho:         "{{ js .Folders.ETL }}"
